*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
app/release
app/google-services.json
app/google-services.json
app/src/main/assets/notificationsync-e95aa-firebase-adminsdk-yuwd4-33db92faa1.json
